@import "../variables";
$color-btn-text: $color-backgrounds;
$color-btn-default: $main-color;
$color-btn-hot: $red;
$color-btn-cool:$blue;
$roundness: 20px 0 20px;


%btn {
  display: inline-block;
  padding:6px 12px;
  text-align: center;
  word-spacing:nowrap;
  vertical-align: middle;
  cursor: pointer;
  border:none;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  font-family:$main-font;
  user-select: none;
  color: $color-btn-text;
}

$color-btn-names: 'default', 'cool', 'hot';
$color-btn-values: $main-color, $red, $blue;

@each $names in $color-btn-names {
  $i : index($color-btn-names, $names);
  .btn-#{$names} {
    @extend %btn;
    background-color: nth($color-btn-values, $i);
  }
}

.grid {
  @include  clearfix;
  .item{
    float: left;
    @include imagegrid(4, 2%);
  }
  img {
    display: block;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:$roundness;
    max-width:100%;
  }
}

