@import "../variables";
$color-btn-text: $color-backgrounds;
$color-btn-default: $main-color;
$color-btn-hot: $red;
$color-btn-cool:$blue;


%btn {
  display: inline-block;
  padding:6px 12px;
  text-align: center;
  word-spacing:nowrap;
  vertical-align: middle;
  cursor: pointer;
  border:none;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  font-family:$main-font;
  user-select: none;
  color: $color-btn-text;
}
.btn-default {
  @extend %btn;
  background: $color-btn-default;
}
.btn-cool{
  @extend %btn;
  background: $color-btn-cool;
}
.btn-hot {
  @extend %btn;
  background: $color-btn-hot;
}

